nav.navbar.navbar-default {
  background-color: #fafafa;
  margin: 0;
  border: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: black !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fff !important;
  // background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
