<h1>My Mind-Pops</h1>

<form ng-submit="usersShow.createPost()" ng-if="usersShow.checkUser()">
  <div>
    <input class="form-control user-input" name="random-thought" ng-model="usersShow.post.body" placeholder="What's on your mind?">
  </div>
  <!-- <input type="submit" value="Random"> -->
  <button type="submit" class="btn">post</button>
</form>


<div class="row">
  <ul>
    <li class="col-md-4 col-xs-4 thought-bubble" ng-repeat="post in usersShow.user.posts">{{ post.body }}
      <button ng-click="usersShow.deletePost(post)">Delete</button>
    </li>
  </ul>
</div>
