.about {
  background-color: #fe9abc;
  height: 580px;
  text-align: center;
  padding-top: 40px;
  border-radius: 20px;
}

// .about:hover {
//   background-color: #fe9abc;
// }

.about-heading {
  color: #fff;
}

.about-tag {
 margin-top: 140px;
}
