.register-login {
  background-color: #68C9C7;
  // background-color: #fe9abc;
  height: 580px;
  // text-align: center;
  padding-top: 40px;
  border-radius: 20px;
}

.form-control {
  border-radius: 45px;
  // width: 700px;
  height: 95px;
  font-size: 60px;
  background: none;
  border: 8px solid white;
  color: white;
  // text-align: center;
}

.reg-heading {
  color: white;
  font-family: 'Space Mono', monospace;
  margin-top: 0;
}
// .form-position {
//   text-align: center;
// }
