.register-login {
  background-color: #68C9C7;
  // background-color: #fe9abc;
  height: 560px;
  // text-align: center;
  padding-top: 40px;
  border-radius: 20px;
}

.form-control {
  border-radius: 38px;
  // width: 700px;
  height: 70px;
  font-size: 60px;
  background: none;
  border: 8px solid white;
  // text-align: center;
}

.form-position {
  text-align: center;
}
