
<section class="about">


  <div class="">
    <h1>about mind pops</h1>

    <!-- <h4>typing a lot more stuff just to see how it looks with quite a bit of text inside</h4> -->
  </div>

  <h3>WHY DO WE HAVE RANDOM THOUGHTS?
Scientists believe that random thoughts (aka mind-pops) are likely the result of memory processing and also creative thinking. You may notice that you have mind-pops more often when you have a problem you want to solve.</h3>
<h3>Mind pops is here to enable you to store your thoughts, share them with others and enhance your creativity.</h3>

<div class="thought-bubble2"></div>

</section>
