button {
  background-color: #fe9abc;
  border: none;
  border-radius: 30px;
  font-family: 'Space Mono', monospace;
}

.btn {
  background-color: #fe9abc;
  border-radius: 60px;
  font-size: 50px;
  color: white;
  font-family: 'Space Mono', monospace;
}

.btn:hover {
    background-color: #E2DE62;
    color: white;
}

button:hover {
    background-color: #E2DE62;
    color: white;
}
