// Import all of your scss files here
@import "modules/navbar";
@import "modules/footer";
@import "thought-bubbles";


body {
  background: #fff;
  // background: linear-gradient(red, yellow); /* Standard syntax */
}

h2 {
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 70px;
  color: #68C9C7;
}

.home-heading {
  color: #fff
}

li {
  list-style: none;
}

.home {
  background-color: #68C9C7;
  // background-color: #fe9abc;
  width: 1278px;
  height: 560px;
  text-align: center;
  padding-top: 40px;
}

main.container {
  height: 600px;
  // text-align: center;
}
 section.home.ng-scope {
   text-align: center;
 }
 main.container.ng-scope {
  //  height: 600px;
   text-align: center;
 }
