// Import all of your scss files here
@import "modules/navbar";
@import "modules/footer";
@import "thought-bubbles";


body {
  background: #fff;
  // background: linear-gradient(red, yellow); /* Standard syntax */
}

h2 {
  text-align: center;
}

h1 {
  font-size: 70px;
  color: #D81536;
}

li {
  list-style: none;
}

.home {
  background-color: #fe9abc;
  width: 1278px;
  height: 560px;
  text-align: center;
}

main.container {
  height: 600px;
}
