// Import all of your scss files here
@import "modules/navbar";
@import "modules/footer";
@import "thought-bubbles";
@import "pages/home";
@import "pages/about";
@import "pages/register-login";
@import "buttons";
@import "variables";



body {
  background: #fff;
}

h3  {
  text-align: center;
  color: #fff;
  font-family: $body-font;
  padding: 0 20px;
}

h2 {
  text-align: center;
  color: #fff;
  font-family: $body-font
}

h1 {
  font-size: 70px;
  color: pink;
  font-family: $heading-font;
}



li {
  list-style: none;
}

.pointer {
  cursor: pointer;
}

main.container {
  height: 600px;
  // text-align: center;
}
 section.home.ng-scope {
   text-align: center;
 }
 main.container.ng-scope {
  //  height: 600px;
   text-align: center;
 }


 @mixin placeholder($color, $size:"") {
   &::-webkit-input-placeholder {
     color: $color;
     @if $size != "" {
       font-size: $size;
       opacity: 0.2;
       font-family: $body-font
     }
   }
   &:-moz-placeholder {
     color: $color;
     @if $size != "" {
       font-size: $size;
       opacity: 0.2;
       font-family: $body-font
     }
   }
   &::-moz-placeholder {
     color: $color;
     @if $size != "" {
       font-size: $size;
       opacity: 0.2;
       font-family: $body-font
     }
   }
   &:-ms-input-placeholder {
     color: $color;
     @if $size != "" {
       font-size: $size;
       opacity: 0.2;
       font-family: $body-font
     }
   }
 }

 // Use placeholder mixin (the size parameter is optional)
 [placeholder] {
   @include placeholder(white, 60px);
 }


button:focus {outline:0 !important;}


//test
p {
  font-family: $body-font
}

li {
  font-family: $body-font
}

.user-input {
  border-color:  #E2DE62;
  background-color: #68C9C7;
}

.post-show {
  border-color:  #E2DE62;
  background-color: #68C9C7;
}

///TEST AND DELETE////

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 2.5s;
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(8%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(8%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}
